.navigation {
  position: static;
  background-color: $dark-grey;
  color: $white;
  .inner-navigation {
    width: 100%;
    height: $nav-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-left {
      display: flex;
      align-items: center;
      .logotype {
        font-family: $logotype;
        text-transform: lowercase;
        letter-spacing: 2px;
        padding-left: 10px;
        span {
          font-family: $logotype;
          color: $primary;
        }
      }
      .byline {
        font-size: 0.75rem;
        margin-left: 50px;
        a {
          color: inherit;
        }
      }
    }
    nav {
      color: $error;
    }
  }
}
